# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pyrebase cache
firebase_token.json

# Python logs
*.log

# Streamlit specific
.streamlit/config.toml
